# Core functionality - changes here should be rare!
/src/app.py                   @clertsakdadet
/src/backend/database.py      @clertsakdadet
/src/backend/routers/auth.py  @clertsakdadet

# The frontend will need refactored soon to be more object oriented.
/src/static/   @clertsakdadet
